@charset "utf-8";

/* CSS Document  for cv of crismal*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
}

.page {
    width: 100%;
    border: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
/*divide page into mani two parts*/

.colomn {
    float: left;
    padding: 10px;
}

.colomn.left {
    width: 30%;
    height: 2200px;
    background-color: #FFC738;
    padding: 0;
}

.colomn.right {
    width: 70%;
    padding: 0;
}
/*design profile picture of the cv*/
.thumbnail {
    border-radius: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding: 15px;
}

.jobTitle {
    color: aliceblue;
    background-color: #373936;
    color: #FFC738;
    width: 100%;
    padding: 15px;
}

.name {
    font-size: 10vd;
    text-align-last: center;
    width: 100%;
    padding: 10px;
    color: #373936;
}

.contatctLogos {
    background-color: #373936;
    padding: 10px 5px 10px 35px;
    width: 80px;
    float: left;
    display: inline-block;
    border-bottom: 20px;
    clear: both;
}

.contactPane {
    float: left;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    border: 0;
    color: #373936;
    text-decoration: none;
}

.contactRows {
    height: 60px;
    display: block;
    clear: both;
}

.hobbiesLogos {
    background-color: #373936;
    padding: 10px;
    margin-left: 10%;
    width: 80px;
    float: left;
    display: inline-block;
    border-bottom: 20px;
}

.hobbiesPane {
    float: left;
    display: inline-block;
    font-size: 20px;
    font-weight: 1000;
    padding: 8px 0px 10px 10px;
    border: 0;
    color: #373936;
    text-decoration: none;
}

.hobbiesRows {
    height: 120px;
    clear: both;
    margin-top: 10px
}

.mainHeadings {
    float: right;
    display: inline-block;
    background-color: #373936;
    color: #FFC738;
    padding: 0px 0px 10px 20px;
    width: 50%;
    height: 60px;
    clear: both;
}

.mainHeadingsLogo {
    width: 60px;
    float: right;
    display: inline-block;
    padding: 0;
    margin-right: 10px;
}

.mainContentText {
    width: 100%;
    float: right;
    padding: 20px 2% 50px 5%;
    font-size: 20px;
    color: #373936;
}

ul {
    list-style-image: url('../src/CV-Crismal/bullet.png');
}

li {
    padding: 5px 0px 25px 20px;
}

.data {
    padding-left: 20px
}

.container {
    width: 100%;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding: 10px;
    color: #373936;
    background-color: #FFC738
}

.html {
    width: 90%;
}

.css {
    width: 80%;
}

.js {
    width: 65%;
}

.graphic {
    width: 90%
}

@media screen and (max-width: 600px) {
    .colomn.left,
    .colomn.right {
        width: 100%;
    }
    .hobbiesRows {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}