html{
    box-sizing: border-box; /*include the padding and border in an                                 element's total width and height*/
}
body{
    font-family:"Times New Roman",serif;
    line-height: 1.5;
    background: #F2F2F2;
    color: black;   
}

img{
    max-width: 100%; 
}
a:link{
    color: #666699;
}

a:visited{
    color: deeppink;
}

a:hover{
    color: red;
}

a:active{
    color: green;
}
.Whole{
    max-width: 960px;
    margin: 40px auto;
    padding: 32px;
    background: white;   
}
section{
    display: grid;
    grid-template-columns: 1fr 4fr; /* lest column is 1/5 of right*/
    grid-gap: 20px;
    padding: 24px;
    border-bottom: 2px solid lightgrey;
    font-size: 18px
}
.sectionTitle{
    font font-weight: bold;
    color: #0066ff;
    font-size: 22px;        
}
.myName{
    font-size: 44px;
    line-height: 1;
    color: #3d3d29;
}
.myCarrier{
    font-size: 26px;
    color:  #0066ff;
}
.contacts{
    color: #20E2B8;
}

.ref2{
    align-items:flex-end;
}