* {box-sizing: border-box}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.mySlides {display: none}
img {vertical-align: middle;}

h1, h2, {
  letter-spacing: 5px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}






/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


.column{
    display: inline-block;
    float: left;
}
.column.left{
    width: 40%;
}
.column.right{
    width: 58%;
    padding: 50px;
    background-color: rgb(0, 0, 0,0.05);
    color:  #3e3c3c;
    border-radius: 80px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
        
}

.ellaBoard{
    width: 100%;
    padding:20px;
    border-radius: 50%;
}

h2{
    width: 50%;
    display: block;
    margin: 40px auto;
    color: black;
}
artical{
    padding: 50px;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
 .text {font-size: 11px}
}

@media screen and (max-width: 600px) {
  .column.left, .column.right {
    width: 100%;
      padding: 10px;
      display: block;
      
  }
   
}