.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
    color: white;
    text-align: center;
    
}

.footer a {
    color: white;
    text-decoration: none;
}