body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
p{
    color: antiquewhite;
    text-decoration: none;
}

.upline{
    width: 100%;
    background-color: black;
}
.center{
   width:420px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

.colorChange {
    
	float: left;
	display: inline-block;
	margin: 5px;
}


.colorDrop {
	background-color: black;
	color: white;
	padding: 10px;
	font-size: auto;
	width: 200px;
	height: 50px;
	border: none;
	cursor: pointer;
}

.colorChange:hover .dropContent {
  display: block;
}

.colorChange:hover .colorDrop {
  background-color: #2D3031;
}

.dropContent {
	 display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropContent button {
	 color: black;
  padding: 12px 16px;
	width: 200px;
    height: 50px;
  text-decoration: none;
  display: block;
}

.dropContent button:hover {background-color: #f1f1f1}

.imageGallery {
	width: 100%;
	float: left;
	padding: 15px;
}



* {
  box-sizing: border-box;
}



/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
	
	width: 90%;
	position: absolute;
  	bottom: 15px;
  	left: 15px;
  	color: white;
  	font-size: 20px;
}

/* Closable button inside the expanded image */

.imageGal {
	float: left;
}

#expandedImg {
	width:50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}



#imgtext {
	opacity: 0;
	width: 50%;
  	position: absolute;
  	bottom: 0px;
  	left: 25%;
  	font-size: 20px;
	background-color: rgba(0, 0, 0,0.5);
	padding: 50px 20px;
	transition: .8s ease;
	

}
.container:hover #imgtext{
	opacity: 1;
}


#backgroundColChange {
	left: 50px;
	right: auto;
}
