*{
	margin:0px;
	padding:0px;
}

.Guess{
	background-image:url("../src/GuestBook/ellaBlur.jpg");
}

.image{
	margin-top:-500px;
	background-image:url("../src/GuestBook/ella.jpg");
	background-size:cover;
	width:100%;
	height:900px;
}

/*transparent gray colour layer*/
.layer1{
	width:100%;
	height:900px;
	background:rgba(0,0,0,0.5);
	position:relative;
}

.text{
	position:absolute;
	color:white;
	margin-top:-250px;
	margin-left:125px;
	font-size:70px;
}

.star{
	color:blue;
	display:inline-block;
}

.whole{
	width:80%;
	margin-left:10%;
	background-color: white;
}

.frameHeader{
	margin-left: 30%;
}

.fromSet{
	margin-left: 22%;
	width: 40%;
	font-size: 30px;
	border-right: 2px dashed gray ;
	border-left: 2px dashed gray ;
	padding-left: 200px;
}

.details{
	font-size:20px;
}

.resetbtn{
	margin-left:70px;
	border-radius: 4px;
	background-color: white; 
    color: black; 
    border: 2px solid black;
	cursor: pointer;
	padding: 8px 18px;
    text-align: center;
	
}

/*chnage the colour when the mouse is hovered over it*/
.resetbtn:hover{
	background-color: black;
    color: white;
}

.submitbtn{
	border-radius: 4px;
	background-color: white; 
    color: black; 
    border: 2px solid black;
	cursor: pointer;
	padding: 8px 18px;
    text-align: center;
	
}

.submitbtn:hover{
	background-color: black;
    color: white;
}

.ratestgs{
	margin-left:40px;
}

.downImage{
	background-image: url( "offwhite.jpg");
}

/*create a footer with link to cv*/
footer{
	width: 100%;
	height: 50px;
	background-color: gray;
	text-align: center;
}

footer a{
	text-decoration: none;
	color: white;
}

footer p{
	padding-top: 20px;
}

/*make the web page responsive*/
@media only screen and (max-width: 700px){
	.forms{
		margin-left:10%;
		border-right: none;
		width:40%;
	}
	.resetbtn{
		position: absolute;
		margin-top: 0px;
		float: right;
		margin-left: 2%;
		
	}
	.text{
	position:absolute;
	color:white;
	margin-top:-250px;
	margin-left:1%;
	font-size:50px;
	}

	.fromSet{
	margin-left:10%;
	border-right:none;
	width:40%;
	}
}