body{
	margin: 0;
	padding:0px;
}


.mainImage{
	background:url("../src/Home/sea.jpg");
	background-size:cover;
	width:100%;
	height:600px;
}

/*transparent gray colour layer*/
.mainLayer{
	width:100%;
	height:600px;
	background:rgba(0,0,0,0.5);
	position:relative;
}

.intro_1{
	position:absolute;
	color:white;
	margin-top:-550px;
	margin-left:400px;
	font-size:75px;
}

.intro_2{
	position:absolute;
	color:black;
	margin-top:-410px;
	margin-left:600px;
	font-size:40px;
}

.intro_3{
	position:absolute;
	color:black;
	margin-top:-340px;
	margin-left:500px;
	font-size:15px;
}

.intro_4{
	position:absolute;
	color:black;
	margin-top:-325px;
	margin-left:530px;
	font-size:15px;
}

.intro_5{
	position:absolute;
	color:black;
	margin-top:-310px;
	margin-left:650px;
	font-size:15px;
}

/*create a button for tour packages page*/
.mainImage button {
  position: absolute;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ff1a1a;
  text-align: center;
  cursor: pointer;
  margin-left: 700px;
  margin-top: -250px;
}

.mainImage button:hover {
  background-color: #ff0000;
  color: white;
}

/*create a side by side image gallery*/
.sideBySide {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 24%;
  padding: 5px;
  position: relative;
}

.row:after {
  content: "";
  display: table;
}

.row{
	position: absolute;
	margin-top: -130px;
	margin-left: 1.5%;
}

/*make a image overlay title*/
.overlay {
  position: absolute; 
  bottom: 10px; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  width: 86.5%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.column:hover .overlay {
  opacity: 1;
}

/*create a footer with link to cv*/
footer{
	margin-top: 200px;
	position: relative;
	width: 100%;
	height: 50px;
	background-color: gray;
	text-align: center;
}

footer a{
	text-decoration: none;
	color: white;
}

footer p{
	padding-top: 20px;
}

@media only screen and (max-width: 700px){
	.intro_1{
		margin-top:-550px;
		margin-left:10px;
		font-size:50px;
	}

	.intro_2{
		margin-top:-410px;
		margin-left:80px;
		font-size:25px;
	}

	.intro_3{
		margin-top:-340px;
		margin-left:0px;
		font-size:15px;
	}

	.intro_4{
		margin-top:-300px;
		margin-left:0px;
		font-size:15px;
	}

	.intro_5{
		margin-top:-255px;
		margin-left:0px;
		font-size:15px;
	}

	.column {
	  margin-left: 15px;
	  width: 86.5%;
	 
	}

	.mainImage button {
	  margin-left: 100px;
	  margin-top: -200px;
	}

	footer{
	margin-top: 925px;
}

}