*{
	margin:0px;
	padding:0px;
}

.line{
	border-bottom: 2px solid black;
	width: 100%;
	height: 3px;
	margin-top: -24px;
	position: fixed;
}
.firstSection{
	width: 100%;
	height:800px;
	background:white;
	text-align: center;
}

.firstContent {
	margin-top: 70px;
	padding:50px;
}

.imageFirst{
	background: url(../src/DestinationMeemure/meemure-5.jpg);
	width: 400px;
	height: 300px;
	margin-left: 10%;
	box-shadow: 3px 3px 3px gray;
	position: absolute;
	background-size:cover;
}

.imageFirst1{
	background: url(../src/DestinationMeemure/meemure2.jpg);
	width: 400px;
	height: 300px;
	margin-left: 50%;
	margin-top:23%;
	box-shadow: 3px 3px 3px gray;
	position: absolute;
	background-size:cover;
}

.para{
	float: right;
	width: 50%;
	margin-left: 300px;
	font-size:1.1vw;
	text-align:left;
}

.para p{
	padding-right:190px;
}

.para1{
	float: left;
	width: 50%;
	margin-left: 10%;
	font-size:1.1vw;
	text-align:left;
	margin-top:5%;
}

.para1 p{
	padding-right:300px;
	margin-top: 10%
}

.secondSection{
	width: 100%;
	height:400px;
	background:url(../src/DestinationMeemure/cta01.jpg);
	background-size: cover;
	text-align: center;
	background-attachment: fixed;
}

.secondOverlay{
	width: 100%;
	height:400px;
	background:rgba(0,0,0,0.5);
}

.secondContent {
	padding-top: 100px;
	margin-top: 100px;
	padding:50px;
}

.secondContent h2{
	margin-top: 90px;

}

.secondContent p{
	color: white;

}

.thirdSection{
	width: 100%;
	height:200px;
	background:white;
	text-align: center;
	
}

.thirdContent {
	margin-top: 10px;
	padding:50px;
}

/*create a footer with link to cv*/
footer{
	width: 100%;
	height: 50px;
	background-color: gray;
	text-align: center;
}

footer a{
	text-decoration: none;
	color: white;
}

footer p{
	padding-top: 20px;
}