body{
    background: url(../src/DestinationMirissa/Background.jpg)
    no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
}
header{
    width: 90%;
    margin: auto;
    overflow: hidden;
    font-size: 1.5rem;
}
.head{
    float: left;
    color: brown;
    overflow: hidden;
}
.container{
    width: 70%;
    margin: auto;
    overflow:hidden;
    margin-top: 1%;
}
showcase h1{
    color: black;
    font-family: cursive;
    text-align: left;
}
showcase h3{
    color: black;
    text-align: left;
    letter-spacing: 2px;
}
.destinations{
    color: black;
    margin-top: 10%;
    display: flex;
    text-align: center;
    font-family: cursive;
}
img{
    width: 70%;
    border-radius: 50%;
    
}
.WhaleWatching,.ParrotRock{
    padding-left: 4rem;/*1rem=16px*/
}
h4{
    font-size: 1.5rem;
    margin: 3%; 
}
.btn{
    background-color: gold;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    margin-left: 45%;
}