body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
a.row:link,
a.row:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.row:hover,
a.row:active {
    background-color: lightslategrey;
}

.firstColumn {}

.row {
    float: left;
    display: inline-block;
    width: 18%;
    margin: 1% 1% 50px 1%;
}

svg {
    background-color: lightgray;
}

h2 {
    text-align-last: center;
    margin: 50px;
    padding: 20px;
}

